	
<div class="m-sm-4">
											
	<div class="text-center">
		<h1>SIGN IN</h1>
			</div>
				<form>
					<div class="mb-3">
						<label class="form-label">Email</label>
						<input class="form-control form-control-lg" id="formEmail" type="email" name="email" placeholder="Enter your email" />
					</div>
					<div class="mb-3">
						<label class="form-label">Password</label>
						<input class="form-control form-control-lg"  id="formPassword" type="password" name="password" placeholder="Enter your password"> &nbsp;
						<input type='checkbox' id='toggle' value='0' onchange='togglePassword(this);'> &nbsp; <span id='toggleText'>Show</span>
					</div>
							<div>
								<small>
	            					<a id="forgotpassword" href="#" onclick="MyFunction();return false;">Forgot password?</a>
	        					</small>
							</div>
											
							<div class="text-center mt-3">
									<a type="submit" class="btn btn-primary btn-block" id="pendaftaran">Pendaftaran</a>
							</div>
											
							<div class="text-center mt-3">
									<a type="submit" class="btn btn-primary btn-block" id="login">Sign in</a>
							</div>				
	</form>	
	<div class="modal" id="modalPendaftaran" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog  modal-dialog-centered">
		    <div class="modal-content">
		    
		      <!-- Modal body -->
		      <div class="isiPendaftaran modal-body">
		        
		      </div>
		 
		    </div>
		  </div>
	</div>

<div id="passemptyHelp" class="form-text p1" style="color:Tomato;">*Password atau Email Kosong/Tidak Terisi</div>
<div id="passwrongHelp" class="form-text p1" style="color:Tomato;">*Password tidak sesuai</div>
<div id="passBlocked" class="form-text p1" style="color:Tomato;">*Email telah di Blockir</div>

	
	
</div>

<script type="text/javascript">
 
 function togglePassword(el){
 
  // Checked State
  var checked = el.checked;

  if(checked){
   // Changing type attribute
   document.getElementById("formPassword").type = 'text';

   // Change the Text
   document.getElementById("toggleText").textContent= "Hide";
  }else{
   // Changing type attribute
   document.getElementById("formPassword").type = 'password';

   // Change the Text
   document.getElementById("toggleText").textContent= "Show";
  }

 }
 
</script>

<!-- <script src="jquery-3.6.3.min.js"></script> -->
<script type="text/javascript" src="/login.js"></script>


