<!-- Modal Header -->
<div class="modal-header">
	<h4 class="modal-title">Hapus Alamat</h4>
	<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

	<div class="container">

		<div class="mt-4">
			<form class="form row g-3">
				<div class="col-12">
					<p>Apakah anda yakin ingin menghapus alamat</p>
					<p id="l" class="text-primary" style="padding-left: 60px"></p>
					<p>Apakah anda yakin ingin menghapus alamat</p>
				</div>
				<div class="col-12 mb-3">
					<button class="btn btn-outline-danger" id="btnBatal">Batal</button>
					<button class="btn btn-danger" type="submit" id="btnHapus">Hapus</button>
				</div>
			</form>
		</div>

	</div>
<script type="text/javascript" src="/tabalamat/delete.js"></script>