<body>
	<!-- Modal Header -->
	<div class="modal-header">
		<h4 class="modal-title">Profile</h4>
	</div>
	<div class="card">
		<div class="card-body">
			<div class="m-sm-4">
				<form>
					<div class="mb-3">
						<h4 class="form-label">
							Data Pribadi <input type="button" class="udatapribadi" value="ubah">
						</h4>
					</div>
					<div class="mb-3">
						<label class="form-label">Nama Lengkap</label> <input
							class="form-control form-control-lg" type="text" id="inamalengkap">
					</div>
					<div class="mb-3">
						<label class="form-label">Tanggal Lahir</label> <input
							class="form-control form-control-lg" type="text"
							id="itanggallahir">
					</div>
					<div class="mb-3">
						<label class="form-label">Nomor Handphone</label> <input
							class="form-control form-control-lg" type="text" id="inomorhp"
							placeholder="Cari Kecamatan/ Kota">
					</div>
					<div class="mb-3">
						<h4 class="form-label">Data Akun</h4>
					</div>
					<div class="mb-3">
						<label class="form-label">Email</label> 
						<input type="button" class="iemail" value="ubah">
						<input
							class="form-control form-control-lg" type="text" id="iemail">
					</div>
					<div class="mb-3">
						<label class="form-label">Password</label> 
						<input type="button" class="ipassword" value="ubah">
						<input
							class="form-control form-control-lg" type="text" id="ipassword">
					</div>
					<div class="text-center mt-3">
						<button type="button" class=" btn btn-secondary btnbatal ">Batal</button>
						<button type="button" class=" btn btn-primary btnsimpan ">Simpan</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/profile/profile2.js"></script>
</html>