
<div>
	<div class="wrapper">
		<div class="main">
			<div class="container my-4">
				<h2>Golongan Darah</h2>

				<div class="d-flex justify-content-between my-0.8 headerTable"
					Style="height: 50px; align-items: center;">
					<input type="text" id="inBloodCari" class="iSearch" style="height: 30px;"
						placeholder="Search...">
					<button class="btn btn-primary" id="btntmbh">
						<i class="fas fa-plus"></i> Add
					</button>
				</div>

				<table class="table table-bordered table-hover">
					<thead >
						<tr>
							<th>No</th>
							<th>Kode</th>
							<th>Deskripsi</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody id="tb2">

					</tbody>

				</table>

				<!-- The Modal -->
				<div class="modal" id="modalBlood">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">

							<!-- Modal body -->
							<div class="isiModalBlood container"></div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/blood/blood.js"></script>

