
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

<div class="mb-3">
	<h1 class="h3 d-inline align-middle">Profile</h1>
</div>
<div class="row">
	<div class="col-md-4 col-xl-3">
		<div class="card mb-3">
			<div class="card-header">
				<h5 class="card-title mb-0">Profile Details</h5>
			</div>
			<div class="card-body text-center">
				<img src="img/avatars/avatar-4.jpg" alt="Christina Mason"
					class="img-fluid rounded-circle mb-2" width="128" height="128">
				<h5 class="card-title mb-0" id="headName">Christina Mason</h5>
				<div class="text-muted mb-2" id="headSpecial">Dokter ???</div>
				<div class="text-muted mb-2" id="exp">Lead Developer</div>

				<div>
					<a class="btn btn-primary btn-sm" href="#"><svg
							xmlns="http://www.w3.org/2000/svg" width="24" height="24"
							viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-message-square">
							<path
								d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
						Chat</a>
				</div>
			</div>
			<hr class="my-0">
			<div class="card-body">
				<h5 class="h6 card-title">Tindakan Medis</h5>
				<ul id="listtindakanmedis" class="text-sm text-muted">
				</ul>
			</div>
			<hr class="my-0">
			<div class="card-body">
				<h5 class="h6 card-title">Riwayat Praktek</h5>
				<div id="listriwayatdokter"></div>
			</div>
			<hr class="my-0">
		</div>
	</div>

	<div class="col-md-8 col-xl-9">
		<div class="card">
			<div class="card-header">

				<h5 class="card-title mb-0">Lokasi Praktek</h5>
			</div>
			<div class="card-body h-100 isilokprak"></div>
		</div>
	</div>
</div>

<script type="text/javascript" src="caridokter/detaildokter.js"></script>
