<body>
	<!-- Modal Header -->
	<div class="modal-header">
		<h4 class="modal-title">Tambah Alamat</h4>
	</div>
	<div class="card">
		<div class="card-body">
			<div class="m-sm-4">
				<form>
					<div class="mb-3">
						<label class="form-label">Label Alamat*</label> <input
							class="form-control form-control-lg" type="text" id="ilabel"
							placeholder="Contoh : Rumah, Kantor"> <sub
							class="eror0 text-danger">Label sudah ada, Silahkan isi yang lain</sub> <sub
							class="eror1 text-danger">Label alamat harus di isi</sub>
					</div>
					<div class="mb-3">
						<label class="form-label">Nama Penerima*</label> <input
							class="form-control form-control-lg" type="text" id="irecipient">
						<sub class="eror2 text-danger">Nama Penerima harus di isi</sub>
					</div>
					<div class="mb-3">
						<label class="form-label">Nomor HP Penerima*</label> <input
							class="form-control form-control-lg" type="text"
							id="irecipientphonenumber"> <sub
							class="eror3 text-danger">Nomor hp harus di isi</sub>
					</div>
					<div class="col-4">
						<label class="form-label">Kecamatan/Kota*</label> <select
							class="form-select" id="ilocationid"
							aria-label="Default select example" style="width: 200px">
							<option value="">Pilih Kecamatan/Kota</option>
						</select> <sub class="eror4 text-danger">kecamatan/kota harus di pilih</sub>
					</div>
					<div class="mb-3">
						<label class="form-label">Kode Pos</label> <input
							class="form-control form-control-lg" type="text" id="ipostalcode">
					</div>
					<div class="mb-3">
						<label class="form-label">Alamat*</label>
						<textarea class="form-control" rows="" placeholder="Form isian"
							style="height: 33px;" id="iaddress"></textarea>
						<sub class="eror5 text-danger">alamat harus di isi</sub>
					</div>
					<div class="text-center mt-3">
						<button type="button" class=" btn btn-secondary btnbatal ">Batal</button>
						<button type="button" class=" btn btn-primary btnsimpan ">Simpan</button>
						<!-- <button type="submit" class="btn btn-lg btn-primary">Sign up</button> -->
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/tabalamat/add.js"></script>