
<!-- Modal Header -->
<div class="container mt-3">
	<div class="card">
		<div class="modal-header">
			<h1 class="modal-title">Edit Bank</h1>
			<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
		</div>

		<div class="card-body">
			<div class="m-sm-4">
				<form>
					<div class="mb-3">
						<label class="form-label">Nama</label> <input id="iName"
							class="form-control form-control-lg" type="text" name="name"
							placeholder="Masukan nama lokasi" />
					</div>
					<div class="mb-3">
						<label class="form-label">Kode</label> <input id="iKode"
							class="form-control form-control-lg" type="text" name="company"
							placeholder="Masukan nama singkatan lokasi" />
					</div>
					 <div id="Helper" class="form-text p1" style="color:Tomato;">*Tidak ada data yang berubah</div>
					<div>
						<button type="button" id="btnSimpanEdit" class="btn btn-lg btn-primary" >Simpan</button>
						<button type="button" id="btnKembali" class="btn btn-lg btn-danger" >Kembali</button>
					</div>
				</form>
				
			</div>
		</div>
	</div>
</div>  


<script type="text/javascript" src="/bank/edit.js"></script>
