
<!-- Modal Header -->
<div class="container mt-3">
	<div class="card">
		<div class="modal-header">
			<h1 class="modal-title">Tambah Level Lokasi</h1>
			<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
		</div>

		<div class="card-body">
			<div class="m-sm-4">
				<form>
					<div class="mb-3">
						<label class="form-label">Level Lokasi*</label> <select
							id="sbLevel" class="form-select mb-3">
							<option selected="">--Pilih Level Lokasi--</option>
						</select>
					</div>
					<div class="mb-3">
						<label class="form-label">Wilayah</label> <select
							id="sbParent" class="form-select mb-3">
							<option selected="">--Pilih Wilayah--</option>
						</select>
					</div>
					<div class="mb-3">
						<label class="form-label">Nama*</label> <input id="iLocName"
							class="form-control form-control-lg" type="text" name="name"
							placeholder="Masukan nama lokasi" />
					</div>
					<div>
						<button type="button" id="btnSimpanEdit"
							class="btn btn-lg btn-primary">Simpan</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="lokasi/Addlokasi.js"></script>