<body>
	<!-- Modal Header -->
	<div class="modal-header">
		<h4 class="modal-title">Profile Dokter</h4>
	</div>
	<div class="card">
		<div class="card-body" style="height: 500px">
			<div class="m-sm-4">
				<table class="table table-hover" style="width:100%; height: 100%">
					<tr style="height: 350px">
						<td>
							<div class="isitindakan" style="line-height: normal"></div>
						</td>
					</tr>
					<tr style="text-align: right;">
						<td>
							<button type="button" style="font-size: 20px; text-align: justify;" class=" btn btn-primary btntambahtindakan ">+</button>
						</td>
					</tr> 
				</table>
			</div>
		</div>
	</div>
<!-- The Modal -->
<div class="modal" id="modaltindakandokter">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
		
			<!-- Modal body -->
			<div class="isimodaltindakandokter"></div>
		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="/profiledokter/tindakandokter.js"></script>