<div class="modal-header">
			        <h1 class="modal-title fs-3 text-primary p1 p5">Veritifikasi OTP</h1>
			        <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
	<div class="modal-body">
	<div class="container px-4">
		<div class="mb-3">
			<label class="form-label" style="font-size:15px">Masukkan kode OTP yang telah dikirimkan</label> 
		</div>
		<div class="">
			<b><label class="form-label" >OTP*</label> </b>
			<input class="form-control form-control-lg" id="itoken" type="text" name="otp" placeholder="Enter your OTP" /> 
		</div>
			<div class="input-group">
					<div id="TokenHelp" class="form-text p1" style="color:Tomato;">*Token tidak valid</div>
					<div id="TokenemptyHelp" class="form-text p1" style="color:Tomato;">*Token tidak sesuai</div>
			</div>
		<div class="input-group">
			<button type="button" class="btn btn-outline-secondary" id="returntoemailver">Gunakan email lain</button>
				<button type="button" class="btn btn-outline-secondary" id="btnresendotp">Kirim ulang OTP</button> 
	   </div>
		<div class="mb-3 text-center">
		 	<p></p>
			<p class="p1 text-muted " id="count"></p>
		
		</div>
	</div>
	</div>
 <div class="modal-footer justify-content-center">
		<input id="btnotp" type="button" class="btn btn-primary" value="veritifikasi">
</div>
<!-- <script src="jquery-3.6.3.min.js"></script> -->
<script type="text/javascript" src="/pendaftaran/email.js"></script>
<!-- <script src="js/app.js"></script> -->
