<body>
	<!-- Modal Header -->
	<div class="modal-header">
		<h4 class="modal-title">Hapus Tindakan</h4>
	</div>
	<div class="card">
		<div class="card-body">
			<div class="m-sm-4">
				<form>
					<div class="mb-3">
					<span>Anda setuju untuk menghapus tindakan</span>
					<span id="hapustindakan" class="text-primary" style="padding-left: 60px"></span>
					</div>
					<div class="text-center mt-3">
						<button type="button" class=" btn btn-secondary btnbatal ">Batal</button>
						<button type="button" class=" btn btn-primary btnhapus ">Hapus</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/profiledokter/hapustindakan.js"></script>