<body>
	<!-- Modal Header -->
	<div class="modal-header">
		<h4 class="modal-title">Tambah Tindakan</h4>
	</div>
	<div class="card">
		<div class="card-body">
			<div class="m-sm-4">
				<form>
					<div class="mb-3">
						<label class="form-label">Tindakan*</label> <input
							class="form-control form-control-lg itindakan" type="text"
							placeholder="Masukkan Tindakan"> <sub
							class="eror1 text-danger">Tindakan tidak boleh kosong</sub>
							<sub
							class="eror2 text-danger">Tindakan sudah ada</sub>
					</div>
					<div class="text-center mt-3">
						<button type="button" class=" btn btn-secondary btnbatal ">Batal</button>
						<button type="button" class=" btn btn-primary btnsimpan ">Simpan</button>
						<!-- <button type="submit" class="btn btn-lg btn-primary">Sign up</button> -->
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/profiledokter/tambahtindakandokter.js"></script>